body {
  margin: 0;
  padding: 0;
}

#board {
  width: 800px;
  height: 700px;
  background-color: blueviolet;
  position: relative;
  overflow: hidden;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  margin-bottom: auto;
  
}

h1 {
  font-size: 3em;
  color: #33FF00;
  text-align: center;
}

#highscore {
  font-size: 1.5em;
  color: white;
  position: absolute;
  bottom: 400px;
  left: 40px;
}

#pitch {
  width: 500px;
  height: 500px;
  background-color: black;
  position: absolute;
  overflow: hidden;
  bottom: 50px;
  left: 250px;
}

#player {
  background-color: #FFB000;
  position: absolute;
}

.goodItem {
  position: absolute;
  background-color: #33FF00;
}

.badItem {
  position: absolute;
  background-color: red;
}

#gameoverDiv {
  display: none;
  width: 500px;
  height: 500px;
  background-color: #33FF00;
  position: absolute;
  overflow: hidden;
  bottom: 50px;
  left: 250px;
  z-index: 1;
}

#gameoverDiv>h1 {
  font-size: 4em;
  color: red;
}

#gameoverDiv>p {
  font-size: 3em;
  color: black;
  font-weight: bold;
  text-align: center;
}

.play-again>a {
  font-size: 2em;
  font-weight: bold;
  color: black;
  display: block;
  text-align: center;
  text-decoration: none;
  padding: 0;
  margin: 0;
}