body {
  margin: 0;
  padding: 0;
}

h1 {
  font-family: "Press Start 2P", system-ui, Arial, Helvetica, sans-serif;
  font-weight: 800;
  text-align: center;
}

#board {
  width: 900px;
  height: 700px;
  background-color: #6f3892;
  position: relative;
  overflow: hidden;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  margin-bottom: auto;
}

#highscore {
  bottom: 430px;
}

#score {
  bottom: 300px;
}

#level {
  font-size: 1.4em;
  bottom: 250px;
  margin: 0;
}

#instructions {
  position: absolute;
  bottom: 50px;
  left: 40px;
  margin: 0;
  width: 250px;
}

#pitch {
  background-color: #00000d;
}

#player {
  background-color: #0cb625;
  position: absolute;
}

#gameover-div {
  display: none;
  background-color: #0cb625;
  z-index: 1;
}

#new-highscore {
  display: none;
  background-color: #e62b00;
  width: 400px;
  height: 200px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 32px;
}

#board>h1 {
  font-size: 3em;
  color: #fdda61;
  margin: 50px auto;
}

#gameover-div>h1 {
  font-size: 3.5em;
  color: #e62b00;
  margin: 30px auto;
}

.board-score {
  font-family: "Press Start 2P", system-ui, Arial, Helvetica, sans-serif;
  color: #fdda61;
  position: absolute;
  left: 40px;
  margin-bottom: 20px;
}

.board-score-heading {
  font-size: 1.7em;
  margin-bottom: 30px;
}

.board-score-show {
  font-size: 1.7em;
  margin: 0;
}

.gold {
  display: inline-block;
  width: 12px;
  height: 12px;
  background-color: #fdda61;
}

.police {
  display: inline-block;
  width: 12px;
  height: 12px;
  background-color: #3418d5;
}

.pitch-div {
  width: 500px;
  height: 500px;
  position: absolute;
  overflow: hidden;
  bottom: 50px;
  left: 350px;
}

.goodItem {
  background-color: #fdda61;
  position: absolute;
}

.badItem {
  background-color: #3418d5;
  position: absolute;
}

.show-new-highscore {
  display: block;
  width: 300px;
  text-align: center;
  margin: 0 auto;
  font-family: "Press Start 2P", system-ui, Arial, Helvetica, sans-serif;
  font-size: 2.5em;
  font-weight: 600;
  color: #fffafa;
  padding: 0;
}

#level>span {
  font-size: 1.2em;
}

#instructions>h3 {
  font-family: "Rubik", Arial, Helvetica, sans-serif;
  margin: 5px 0;
}

#instructions>p {
  font-family: "Rubik", Arial, Helvetica, sans-serif;
  margin: 0;
}

#instructions>p>img {
  float: right;
  width: 50px;
  height: auto;
  margin-right: 70px;
  margin-top: 3px;
}

#new-highscore>h2 {
  font-family: "Press Start 2P", system-ui, Arial, Helvetica, sans-serif;
  text-align: center;
  padding: 30px 0;
  margin: 0;
  font-size: 2em;
  color: #fffafa;
}

.play-again>p {
  font-family: "Press Start 2P", system-ui, Arial, Helvetica, sans-serif;
  font-size: 1.5em;
  font-weight: bolder;
  line-height: 130%;
  color: #00000d;
  display: block;
  width: 400px;
  text-align: center;
  text-decoration: none;
  padding: 0;
  margin: 0 auto;
}

.play-again>p>span {
  font-size: 0.75em;
}